<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/profile/23">Profile</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>